<html>
    <head>
        <title>Шахматы - лобби</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script
                src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>

        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <link rel="stylesheet" th:href="@{/lobby/lobby.css}">
    </head>
    <body>
        <div class="users_lst">
            <div class="users_lst_head">
                <h2>Список игроков</h2>

                <div class="user_icon">
                    <div th:replace="~{/icons/user :: user}"></div>
                </div>
            </div>

            <div class="user_list">
                <!--<div class="user_box">
                    <div>
                        <div class="user_icon">
                            <div th:replace="~{/icons/user :: user}"></div>
                       </div>

                        <p>Сергей</p>
                    </div>

                    <div>
                        <div class="invite">
                            <p>Пригласить на матч</p>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="pag_btns">
                <div class="back pag_btn">
                    <p>Назад</p>
                </div>

                <div class="pag_btn">
                    <p></p>
                </div>

                <div class="pag_btn">
                    <p></p>
                </div>

                <div class="pag_btn">
                    <p></p>
                </div>

                <div class="next pag_btn">
                    <p>Вперёд</p>
                </div>
            </div>
        </div>

        <script th:src="@{/lobby/lobby.js}"></script>
    </body>
</html>